/*--------------------------------//
//                                //
//              Card              //
//                                //
//--------------------------------*/
.card-list {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	width: 100%;
	max-height: calc(100% - 50px);
	overflow: auto;

	border-collapse: separate;
	border-spacing: 0.5em;
}

.card {
	/*cursor: pointer;*/
	background-color: #FFF;
	background-color: var(--color-background);
	border-radius: 0.25em;
}

.card img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

.card p {
	padding: 0 1em;
}
