/*--------------------------------//
//                                //
//             Color              //
//                                //
//--------------------------------*/
body {
	/*
		Primary Color
	*/
	--color-primary: #BBDEFB;
	--color-primary-text: #000;
	--color-primary-dark: #8AACC8;
	--color-primary-dark--text: #000;
	--color-primary-light: #EEFFFF;
	--color-primary-light-text: #000;

	/*
		Secondary Color
	*/
	--color-secondary: #FFD600;
	--color-secondary-text: #000;

	/*
		Background
	*/
	--color-background: #FFF;
	--color-background-text: #000;
	--color-surface: #FFF;
	--color-surface-text: #000;
	--color-error: #B00020;
	--color-error-text: #FFF;
}
