/*--------------------------------//
//                                //
//             Header             //
//                                //
//--------------------------------*/
header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4;
	background-color: #00BCD4;
	color: #FFFFFF;
	justify-content: space-between;
	display: flex;
	display: -ms-flexbox;
	height: 4.5em;
}

header .left {
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	height: 4.5em;
	margin-right: auto;
	margin-left: 1.5em;
	cursor: pointer;
}

header .icon {
	height: 2em;
	display: block;
	margin-right: 1em;
}

header .title {
	display: inline;
	font-size: 1.25em;
	text-transform: uppercase;
}

header .navigation {
	margin-left: auto;
}

header .nav-item {
	display: inline-block;
	text-align: center;
	transform: translateZ(0);
	cursor: pointer;
	
	line-height: 3.6;
	padding: 0 1em;
	font-size: 1.25em;
	color: #fff;
	opacity: 0.7;
	display: inline-block;
	position: relative;
	transition: color .1s cubic-bezier(.4,0,.2,1);
}

header .nav-item:hover {
	opacity: 1;
}

header .nav-item.selected {
	opacity: 1;
}

header .nav-indicator {
	left: 1em;
	right: 1em;
	background: #fff;
	bottom: 0;
	height: 0.25em;
	position: absolute;
	transform: scaleY(0);
	transform-origin: bottom;
	transition: transform 235ms cubic-bezier(.4,0,.2,1);
}

header .selected .nav-indicator {
	transform: scaleY(1);
}