/*--------------------------------//
//                                //
//             Header             //
//                                //
//--------------------------------*/
header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #BBDEFB;
	background-color: var(--color-primary);
	color: #000;
	color: var(--color-primary-text);
	justify-content: space-between;
	display: flex;
	display: -ms-flexbox;
}

header .left {
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	height: 4.5em;
	margin-right: auto;
	margin-left: 1.5em;
	cursor: pointer;
}

header .logo {
	height: 3em;
	margin-right: 1em;
}

header .title {
	text-transform: uppercase;
}

@media only screen and (max-device-width: 1024px) {
	header {
		flex-flow: column wrap;
		-webkit-flex-flow: column wrap;
	}
}
