/*--------------------------------//
//                                //
//           Image List           //
//                                //
//--------------------------------*/
.image-list {
	display: flex;
    display: -webkit-flex;
    display: -moz-flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	width: 100%;
	max-height: 653px;
	overflow: auto;
	
	border-collapse: separate;
    border-spacing: 0.5em;
}