html {
	height: 100%;
}

body {
	min-height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.main {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.sheet {
	position: relative;
	height: 841px;
	overflow: hidden;
	z-index: 0;
}

.sheet:first-child {
	margin-top: 72px;
}

.sheet-nav {
	position: absolute;
	box-sizing: border-box;
	background-color: #EEFFFF;
	background-color: var(--color-primary-light);
	color: #000;
	color: var(--color-primary-light-text);
	width: 814px;
	top: 0%;
	height: 100%;
	z-index: 16;
	padding-left: 20px;
	padding-right: 20px;
}

img.sheet-image  {
	position: absolute;
	transform: translate(-50%, -50%);
	-webkit-filter: drop-shadow(0em 0em 1em rgba(0,0,0,0.5));
	filter: drop-shadow(0em 0em 1em rgba(0,0,0,0.5));
	z-index: 2;
}

.nav-left {
	left: 0%;
}

.nav-right {
	right: 0%;
}
